<a href="https://colab.research.google.com/github/Mahmoud9356/DEPI-Project/blob/main/HR_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Importing the needed libraries***

In [ ]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

***Reading the needed files***

In [ ]:
df1=pd.read_csv('Cleaned_Employee.csv')
df2=pd.read_excel('EducationLevel.xlsx')
df3=pd.read_excel('PerformanceRating.xlsx')
df4=pd.read_excel('RatingLevel.xlsx')
df5=pd.read_excel('SatisfiedLevel.xlsx')

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

***Review the information of data***

In [ ]:
print(df1.info())

***Review the top 5 rows of employee table***

In [ ]:
df1.head()

***Review the size of the employee table***

In [ ]:
df1.shape

***Review the size of the education level table***

In [ ]:
df2.shape

***Review the size of the performance level table***

In [ ]:
df3.shape

***Review the size of the rating level table***

In [ ]:
df4.shape

***Review the size of the satisfied level table***

In [ ]:
df5.shape

***Review the columns of the employee table***

In [ ]:
df1.columns

***Review the columns of the education level table***

In [ ]:
df2.columns

***Review the columns of the performance rating table***

In [ ]:
df3.columns

***Review the columns of the rating level table***

In [ ]:
df4.columns

***Review the columns of the satisfied level table***

In [ ]:
df5.columns

***Retrieve the average of age***

In [ ]:
print(df1['Age'].mean())

***Retrieve the employee data of maximum salary***

In [ ]:
print(df1.iloc[df1['Salary'].idxmax()])

***Retrieve the employee data of minimum salary***

In [ ]:
print(df1.iloc[df1['Salary'].idxmin()])

***Retrieve the employee data with maximum years at company***

In [ ]:
print(df1.iloc[df1['YearsAtCompany'].idxmax()])

***Retrieve the employee data with minimum years at company***

In [ ]:
print(df1.iloc[df1['YearsAtCompany'].idxmin()])

Retrieve the average of years at company

In [ ]:
print(df1['YearsAtCompany'].mean())

***Years at Company & Attrition***

In [ ]:
sns.countplot(x='YearsAtCompany', data=df1, palette='mako',hue='Attrition')
plt.title('Years at Company vs Attrition')
plt.show()

***Retrieve the employee data with maximum year in most recent role***

In [ ]:
print(df1.iloc[df1['YearsInMostRecentRole'].idxmax()])

***Retrieve the employee data with minimum year in most recent role***

In [ ]:
print(df1.iloc[df1['YearsInMostRecentRole'].idxmin()])

***Retrieve the average of years in most recent role***

In [ ]:
print(df1['YearsInMostRecentRole'].mean())

***Retrieve the employee data with maximum years sincs last promotion***

In [ ]:
print(df1.iloc[df1['YearsSinceLastPromotion'].idxmax()])

Retrieve the employee data with minimum years sincs last promotion

In [ ]:
print(df1.iloc[df1['YearsSinceLastPromotion'].idxmin()])

***Retrieve the average of years since last promotion***

In [ ]:
print(df1['YearsSinceLastPromotion'].mean())

***Promotions and Attrition***

In [ ]:
sns.countplot(x='YearsSinceLastPromotion', data=df1, palette='mako',hue='Attrition')
plt.title('Years Since Last Promotion vs Attrition')
plt.show()

***Retrieve the employee data with maximum years with current manager***

In [ ]:
print(df1.iloc[df1['YearsWithCurrManager'].idxmax()])

Retrieve the employee data with minimum years with current manager

In [ ]:
print(df1.iloc[df1['YearsWithCurrManager'].idxmin()])

Retrieve the average of years with current manager

In [ ]:
print(df1['YearsWithCurrManager'].mean())

***Years With Current Manager & Attrition***

In [ ]:
sns.countplot(hue='Attrition', x='YearsWithCurrManager', data=df1, palette='mako')
plt.title('Years with Current Manager vs Attrition')
plt.show()

Retrieve the average of salaries

In [ ]:
plt.figure(figsize=(8,8))
sns.countplot(x='Ethnicity',data=df1,hue='Ethnicity',palette='mako')
plt.xticks(rotation=90)
plt.title('Ethnicity')
plt.show()
print(df1['Ethnicity'].value_counts())
print(df1['Ethnicity'].unique())

***Salary Distribution***

In [ ]:
sns.histplot(df1['Salary'], bins=20, kde=True, palette='mako')
plt.title('Salary Distribution')
plt.show()
print("Average Salary:", df1['Salary'].mean())

***Education Field***

In [ ]:
sns.countplot(x='EducationField',data=df1,hue='EducationField',palette='mako')
plt.title('EducationField')
plt.xticks(rotation=45)
plt.show()
print(df1['EducationField'].value_counts())

***Marital Status***

In [ ]:
sns.countplot(x='MaritalStatus',data=df1,hue='MaritalStatus',palette='mako')
plt.title('MaritalStatus')
plt.xticks(rotation=45)
plt.show()

***Marital Status & Attrition***

In [ ]:
sns.countplot(x='MaritalStatus',hue='Attrition',data=df1,palette='mako')
plt.title('Marital Status vs Attrition')
plt.show()

***Job Role***

In [ ]:
sns.countplot(x='JobRole',data=df1,hue='JobRole',palette='mako')
plt.title('JobRole')
plt.xticks(rotation=90)
plt.show()
print(df1['JobRole'].value_counts())

***Job Role & Salary***

In [ ]:
plt.figure(figsize=(10,8))
sns.boxplot(x='JobRole', y='Salary', data=df1, palette='husl',hue='JobRole',legend=False)
plt.xticks(rotation=45)
plt.title('Salary by Job Role')
plt.show()

***Gender Distribution***

In [ ]:
df1['Gender'].value_counts().plot(kind='pie',labels=df1['Gender'].unique(),autopct='%1.1f%%',startangle=0)
plt.title('Gender')
plt.show()
print(df1['Gender'].value_counts())

***Gender & Atrrition***

In [ ]:
sns.countplot(x='Gender',data=df1,hue='Attrition',palette='mako')
plt.title('Attrition Count')
plt.show()
print(df1.groupby('Gender')['Attrition'].value_counts())

***Attrition***

In [ ]:
df1['Attrition'].value_counts().plot(kind='pie',labels=df1['Attrition'].unique(),autopct='%1.1f%%',startangle=90)
plt.title('Attrition')
plt.show()
print(df1['Attrition'].value_counts())

In [ ]:
sns.countplot(x='Attrition', data=df1,hue='Attrition',palette='mako')
plt.title('Attrition Count')
plt.show()
print(df1['Attrition'].value_counts())

***Department Distribution***

In [ ]:
df1['Department'].value_counts().plot(kind='pie',labels=df1['Department'].unique(),autopct='%1.1f%%',startangle=90)
plt.title('Department')
plt.show()
print(df1['Department'].value_counts())

***Employees per Department***

In [ ]:
sns.countplot(x='Department',data=df1,palette='mako',hue='Department')
plt.title('Employees per Department')
plt.show()
print(df1['Department'].value_counts())

***Attrition per Department***

In [ ]:
sns.countplot(x='Department',data=df1,hue='Attrition',palette='mako')
plt.title('Attrition per Department')
plt.show()
print(df1.groupby('Department')['Attrition'].value_counts())

***Business Travel Distribution***

In [ ]:
df1['BusinessTravel'].value_counts().plot(kind='pie',labels=df1['BusinessTravel'].unique(),autopct='%1.1f%%',startangle=90)
plt.title('BusinessTravel')
plt.show()
print(df1['BusinessTravel'].value_counts())
print(df1['BusinessTravel'].unique())

***State Distribution***

In [ ]:
plt.figure(figsize=(8,8))
df1['State'].value_counts().plot(kind='pie',labels=df1['State'].unique(),autopct='%1.1f%%',startangle=90)
plt.xticks(rotation=360)
plt.title('State')
plt.show()
print(df1['State'].value_counts())
print(df1['State'].unique())

***Retieve the data of the farthest Employee***

In [ ]:
print(df1.iloc[df1['DistanceFromHome (KM)'].idxmax()])

***Retieve the data of the Closet Employee***

In [ ]:
print(df1.iloc[df1['DistanceFromHome (KM)'].idxmin()])

***Average Distance From Home***

In [ ]:
print(df1['DistanceFromHome (KM)'].mean())

***Distance From Home & Attrition***

In [ ]:
plt.figure(figsize=(15,15))
sns.countplot(x='DistanceFromHome (KM)',hue='Attrition', data=df1, palette='Set2')
plt.title('Distance From Home vs Attrition')
plt.show()

***Age distribution***

In [ ]:
sns.histplot(x='Age',data=df1,bins=20,palette='mako')
plt.title('Age Distribution')
plt.show()

***Age & Attrition***

In [ ]:
plt.figure(figsize=(15,15))
sns.countplot(x='Age',data=df1,hue='Attrition',palette='mako')
plt.title('Age Distribution')
plt.show()

***Attrition Per Overtime***

In [ ]:
df1['OverTime'].value_counts()
sns.countplot(x='OverTime',data=df1,hue='Attrition',palette='mako')
plt.title('Attrition Count')
plt.show()
print(df1.groupby('OverTime')['Attrition'].value_counts())

***Education Level & Salary***

In [ ]:
sns.boxplot(x='Education', y='Salary', data=df1, palette='mako',hue='Education',legend=False)
plt.title('Salary vs Education Level')
plt.show()

***Education Level & Attrition***

In [ ]:
sns.countplot(x='Education',data=df1,hue='Attrition',palette='mako')
plt.title('Education Level & Attrition')
plt.show()
print(df1['Education'].value_counts())